html{
    font-size: 18px;
}

/*Kontrollerer at bredden på alle boksene blir det vi har satte dem som*/
*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /*fr står for fraction, hvor stor brøkdel som tar plass.*/
    grid-template-rows: auto auto auto; /*auto: høyde på radene skal være baser på innholdet. 
                                        Eventuelt: repeat(3, auto)*/
    row-gap: 2rem;
}

#global-header{ /*Når vi strekker header utover hele raden skriver vi 1-4 fordi vi teller linjene på gridet.*/
    grid-column-start: 1;
    grid-column-end: 4;
    /*grid-column: 1/ 4*/
    grid-row: 1 / 2;
}

#banner{
    display: flex;
    flex: wrap;

    img{
        max-width: 70%;
    }
}

main{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

main nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;

    a{
        color: #a4a4a4;
    }
}

#category-menu{
    grid-column: 1/2;
    grid-row: 2/3;
}

#category-menu nav ul{
    list-style: none;
}

footer{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

img{
    width: 100%;
    max-width: 400px;
}

#main-logo{
    width: 100%;
    max-width: 250px;
    display: block;
    margin: 0px auto;
}

/*Flex gjør det lettere å styre layout i en kontainer.  
Vi kan bruke gap, men den kan bare brukes på flex eller grid.*/
.flex-menu {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.flex-menu a{
    text-decoration: none;
    color: #000;
}
  
.flex-space-b{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.flex-space-b h2{
    width: 100%;
}

.flex-space-b form{
    position: relative;
}

.flex-space-b form label{
    visibility: hidden;
    position: absolute;
}

#outlet{
    color:#ff0000;
}
.product-card {
    max-width: 350px;
    min-width: 200px;
    width: 100%;
    box-shadow: 10px 10px 10px -5px #efefef;
    border-radius: 4px;
    padding: 1rem;
}

#menu {
    display: flex;
}

/*Media querie bør ligge nederst*/
/*Fra minimum 800px, skal ikke burgeren vises.*/
/*Desktop*/
@media only screen and (min-width:800px) {
    .fa-burger {
        display: none;
    }
    #menu {
        display: flex !important;
    }
}

/*Mobil*/
@media only screen and (max-width:800px) {
    #menu{
        display: none;
    }
    #grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    header, main, aside, footer{
        grid-column: 1/2;
    }
    header{
        grid-row: 1/2;
    }
    main{
        grid-row: 2/3;
    }
    aside{
        display: none;
    }
    footer{
        grid-row: 3/4;
    }
}