*{
    box-sizing: border-box;
}

body{
    font-family: border;
    margin: 0;
}

#container{
    display: flex;
    flex-wrap: wrap;
}

header, nav, footer{
    width: 100%;
}

header, nav, main, aside, footer{
    flex-grow: 1;
    padding: 1rem;
}

header{
    background-color: rgb(206, 255, 255);
}

nav{
    background-color: rgb(191, 241, 224);
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
}

main{
    background-color: rgb(245, 255, 188);
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    min-width: 500px;
    justify-content: space-between;
}

main h2{
    width: 100%;
}

main article{
    width: 30%;
    min-width: 250px;
}

aside{
    background-color: rgb(253, 202, 160);
    width: 30%;
}

footer{
    color: #fff;
    background-color: rgb(49, 49, 49);
}