* {
    /* Sikrer at padding og border blir inkludert i elementets totale bredde og høyde. 
    Dette forenkler kontrollen over layouten */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto auto; /*auto: høyde på radene skal være basert på innholdet. */
    row-gap: 2rem; /* Legger til et mellomrom på 2rem mellom radene */
}

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;

    text-align: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
        ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        align-items: center;
            a {
                text-decoration: none;
            }
        }

        form {
            position: relative;
        }
}

.main-logo {
    width: 30%;
}

main {      
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    padding: 1rem;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#produktside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#product {
    max-width: 700px;
}

#product-text {
    max-width: 440px;
}

#product-img {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-start;
}

.anmeldelse {
    max-width: 289px;
    img {
        width: 100%;
    }
}

footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    padding: 1rem;
    background-color: rgb(40, 40, 40);
    color: #fff;

    p {
        width: 100%;
    }
    img {
        width: 5%;
    }
    a{
        text-decoration: none;
    }
}

footer section{
    padding: 1rem;
}

/*Desktop*/
@media only screen and (min-width: 800px) {

}
/*mobile*/
@media only screen and (max-width:800px) {
    #grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    header, main, footer{
        grid-column: 1/2;
    }
    header{
        grid-row: 1/2;
    }
    main{
        grid-row: 2/3;
    }
    footer{
        grid-row: 3/4;
    }
}